@import url('./main-layout.css');
@import url('./views/pacientes-view.css');
@import url('./views/citas-view.css');
@import url('./views/medicamentos-view.css');
@import url('./views/consulta-view.css');
@import url('@fontsource/bitter/index.css');    
<custom-style>
  <style>

html {
  --lumo-primary-text-color: rgb(114, 22, 243);
  --lumo-primary-color-50pct: rgba(114, 22, 243, 0.5);
  --lumo-primary-color-10pct: rgba(114, 22, 243, 0.1);
  --lumo-error-text-color: rgb(255, 56, 103);
  --lumo-error-color-50pct: rgba(255, 56, 103, 0.5);
  --lumo-error-color-10pct: rgba(255, 56, 103, 0.1);
  --lumo-success-text-color: rgb(20, 184, 143);
  --lumo-success-color-50pct: rgba(20, 184, 143, 0.5);
  --lumo-success-color-10pct: rgba(20, 184, 143, 0.1);
  --lumo-primary-color: hsl(265, 90%, 52%);
  --lumo-error-color: hsl(346, 100%, 61%);
  --lumo-success-color: hsl(165, 80%, 40%);
  --lumo-header-text-color: hsl(285, 35%, 15%);
  --lumo-body-text-color: hsla(285, 40%, 16%, 0.94);
  --lumo-secondary-text-color: hsla(285, 42%, 18%, 0.72);
  --lumo-tertiary-text-color: hsla(285, 45%, 20%, 0.5);
  --lumo-disabled-text-color: hsla(285, 50%, 22%, 0.26);
}

[theme~="dark"] {
  --lumo-shade-5pct: rgba(0, 47, 255, 0.05);
  --lumo-shade-10pct: rgba(0, 47, 255, 0.1);
  --lumo-shade-20pct: rgba(0, 47, 255, 0.2);
  --lumo-shade-30pct: rgba(0, 47, 255, 0.3);
  --lumo-shade-40pct: rgba(0, 47, 255, 0.4);
  --lumo-shade-50pct: rgba(0, 47, 255, 0.5);
  --lumo-shade-60pct: rgba(0, 47, 255, 0.6);
  --lumo-shade-70pct: rgba(0, 47, 255, 0.7);
  --lumo-shade-80pct: rgba(0, 47, 255, 0.8);
  --lumo-shade-90pct: rgba(0, 47, 255, 0.9);
  --lumo-primary-text-color: rgb(230, 190, 95);
  --lumo-primary-color-50pct: rgba(230, 190, 95, 0.5);
  --lumo-primary-color-10pct: rgba(230, 190, 95, 0.1);
  --lumo-error-text-color: rgb(237, 127, 151);
  --lumo-error-color-50pct: rgba(237, 127, 151, 0.5);
  --lumo-error-color-10pct: rgba(237, 127, 151, 0.1);
  --lumo-success-text-color: rgb(84, 222, 110);
  --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
  --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
  --lumo-shade: hsl(229, 100%, 50%);
  --lumo-primary-color: #E6BE5F;
  --lumo-error-color: #ED7F97;
  --lumo-success-color: #54DE6E;
  --lumo-success-contrast-color: #2D2C29;
  --lumo-base-color: #2d1011;
  --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
  --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
  --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
  --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
  --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
  --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
  --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
  --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
  --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
  --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
  --lumo-tint: #f4eee1;
  --lumo-primary-contrast-color: #2D2C29;
  --lumo-error-contrast-color: #2D2C29;
  --lumo-header-text-color: #E6BE5F;
}

  </style>
</custom-style>

      