@import url('./main-layout.css');
@import url('./views/pacientes-view.css');
@import url('./views/citas-view.css');
@import url('./views/medicamentos-view.css');
@import url('./views/consulta-view.css');
@import url('@fontsource/bitter/index.css');  
      <custom-style>
  <style>

html {
}

[theme~="dark"] {
  --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
  --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
  --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
  --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
  --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
  --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
  --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
  --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
  --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
  --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
  --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
  --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
  --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
  --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
  --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
  --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
  --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
  --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
  --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
  --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
  --lumo-primary-text-color: rgb(230, 190, 95);
  --lumo-primary-color-50pct: rgba(230, 190, 95, 0.5);
  --lumo-primary-color-10pct: rgba(230, 190, 95, 0.1);
  --lumo-error-text-color: rgb(237, 127, 151);
  --lumo-error-color-50pct: rgba(237, 127, 151, 0.5);
  --lumo-error-color-10pct: rgba(237, 127, 151, 0.1);
  --lumo-success-text-color: rgb(84, 222, 110);
  --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
  --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
  --lumo-base-color: #2D2C29;
  --lumo-tint: #f4eee1;
  --lumo-shade: hsl(42, 33%, 13%);
  --lumo-primary-color: #E6BE5F;
  --lumo-primary-contrast-color: #2D2C29;
  --lumo-error-color: #ED7F97;
  --lumo-error-contrast-color: #2D2C29;
  --lumo-success-color: #54DE6E;
  --lumo-success-contrast-color: #2D2C29;
  --lumo-header-text-color: #E6BE5F;
}

  </style>
</custom-style>
