@import url('./main-layout.css');
@import url('./views/pacientes-view.css');
@import url('./views/citas-view.css');
@import url('./views/medicamentos-view.css');
@import url('./views/consulta-view.css');
@import url('@fontsource/bitter/index.css');    




html {
  --lumo-font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  --lumo-line-height-m: 1.4;
  --lumo-line-height-s: 1.2;
  --lumo-line-height-xs: 1.1;
  --lumo-font-size: 1rem;
  --lumo-font-size-xxxl: 1.75rem;
  --lumo-font-size-xxl: 1.375rem;
  --lumo-font-size-xl: 1.125rem;
  --lumo-font-size-l: 1rem;
  --lumo-font-size-m: 0.875rem;
  --lumo-font-size-s: 0.8125rem;
  --lumo-font-size-xs: 0.75rem;
  --lumo-font-size-xxs: 0.6875rem;
  --lumo-border-radius: calc(var(--lumo-size-m) / 2);
  --lumo-space-xl: 1.75rem;
  --lumo-space-l: 1.125rem;
  --lumo-space-m: 0.5rem;
  --lumo-space-s: 0.25rem;
  --lumo-space-xs: 0.125rem;
  --lumo-size-xl: 2.5rem;
  --lumo-size-l: 2rem;
  --lumo-size-m: 1.75rem;
  --lumo-size-s: 1.5rem;
  --lumo-size-xs: 1.25rem;
}

[theme~="dark"] {
  --lumo-shade-5pct: rgba(255, 230, 224, 0.05);
  --lumo-shade-10pct: rgba(255, 230, 224, 0.1);
  --lumo-shade-20pct: rgba(255, 230, 224, 0.2);
  --lumo-shade-30pct: rgba(255, 230, 224, 0.3);
  --lumo-shade-40pct: rgba(255, 230, 224, 0.4);
  --lumo-shade-50pct: rgba(255, 230, 224, 0.5);
  --lumo-shade-60pct: rgba(255, 230, 224, 0.6);
  --lumo-shade-70pct: rgba(255, 230, 224, 0.7);
  --lumo-shade-80pct: rgba(255, 230, 224, 0.8);
  --lumo-shade-90pct: rgba(148, 155, 168, 0.9);
  --lumo-primary-text-color: rgb(255, 154, 66);
  --lumo-primary-color-50pct: rgba(230, 107, 0, 0.5);
  --lumo-primary-color-10pct: rgba(230, 107, 0, 0.1);
  --lumo-error-text-color: rgb(255, 46, 49);
  --lumo-error-color-50pct: rgba(255, 10, 14, 0.5);
  --lumo-error-color-10pct: rgba(255, 10, 14, 0.1);
  --lumo-success-text-color: rgb(255, 61, 119);
  --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
  --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
  --lumo-shade: hsl(11, 100%, 94%);
  --lumo-primary-color: hsl(28, 100%, 45%);
  --lumo-error-color: hsl(359, 100%, 52%);
  --lumo-success-color: hsl(159, 76%, 57%);
  --lumo-success-contrast-color: hsl(348, 29%, 10%);
  --lumo-base-color: hsl(214, 53%, 26%);
  --lumo-tint-5pct: rgba(128, 225, 255, 0.05);
  --lumo-tint-10pct: rgba(128, 225, 255, 0.1);
  --lumo-tint-20pct: rgba(128, 225, 255, 0.2);
  --lumo-tint-30pct: rgba(128, 225, 255, 0.3);
  --lumo-tint-40pct: rgba(128, 225, 255, 0.4);
  --lumo-tint-50pct: rgba(128, 225, 255, 0.5);
  --lumo-tint-60pct: rgba(128, 225, 255, 0.6);
  --lumo-tint-70pct: rgba(128, 225, 255, 0.7);
  --lumo-tint-80pct: rgba(128, 225, 255, 0.8);
  --lumo-tint-90pct: rgba(136, 255, 128, 0.9);
  --lumo-tint: hsl(194, 100%, 75%);
}
